<div class="jumbotron">
  <p class="lead">Share your widget with the world</p>
</div>
<div class="container-width">

  <% if @widgets.length > 0 %>
   <div class="row">
    <% @widgets.each do |widget| %> 
    <%= render "widget/widget_card", widget: widget %>
   <% end %>
  </div>
  <% else %>
  <p class="no-widget-lead">
    No widgets created yet, it easy to create one
  </p>
  <% end %>
</div>
